*.o
*.lo
*.la
*.a
*.tar.gz
*.swp
.deps
.libs
.dirstamp
.nfs*
*.d
Makefile
Makefile.in
config.h.in*
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
debug.sh
install-sh
libtool
ltmain.sh
gmon.out
missing
src/bin/travatar
src/bin/rescorer
src/bin/forest-extractor
src/bin/hiero-extractor
src/bin/tree-converter
src/bin/batch-tune
src/bin/mt-evaluator
src/bin/mt-segmenter
src/bin/train-caser
src/bin/tokenizer
src/test/test-travatar
src/include/travatar/stamp-h1
src/include/travatar/config.h
src/kenlm/lm/lmplz
src/kenlm/lm/build_binary
test-driver
