*.o
*.lo
*.la
*.swp
.deps
.libs
Makefile
Makefile.in
config.h.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
gmon.out
m4
missing
src/bin/travatar
src/bin/forest-extractor
src/bin/tree-converter
src/bin/batch-tune
src/bin/mt-evaluator
src/test/test-travatar
src/include/travatar/stamp-h1
